html,body{
background: #444444;
margin: 0;
padding: 0;
width: 300px;
height: 250px;
}
.wrapper{
position:absolute;
background: #36bacd;
overflow:hidden;
width: 300px;
height: 250px;
}

.i00{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:0px;
top:0px;
width:300px;
height:250px
}
.i10{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i10.jpg") no-repeat center;
background-size: contain;
width:300px;
height:250px
}
.i01{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:258px;
top:10px;
width:32px;
height:32px
}
.i20{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i20.png") no-repeat center;
background-size: contain;
width:32px;
height:32px
}
.i02{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:20px;
top:88px;
width:259px;
height:136px
}
.i30{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i30.png") no-repeat center;
background-size: contain;
width:259px;
height:136px
}
.i03{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:32px;
top:38px;
width:84px;
height:212px
}
.i40{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i40.png") no-repeat center;
background-size: contain;
width:84px;
height:212px
}
.i04{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:132px;
top:93px;
width:28px;
height:28px
}
.i50{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i50.png") no-repeat center;
background-size: contain;
width:28px;
height:28px
}
.i05{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:147px;
top:33px;
width:99px;
height:205px
}
.i60{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i60.png") no-repeat center;
background-size: contain;
width:99px;
height:205px
}
.i06{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:256px;
top:109px;
width:28px;
height:18px
}
.i70{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i70.png") no-repeat center;
background-size: contain;
width:28px;
height:18px
}
.i07{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:35px;
top:179px;
width:230px;
height:42px
}
.i80{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i80.png") no-repeat center;
background-size: contain;
width:230px;
height:42px
}
.i08{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:100px;
top:26px;
width:89px;
height:224px
}
.i90{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i90.png") no-repeat center;
background-size: contain;
width:89px;
height:224px
}
.i09{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:25px;
top:164px;
width:249px;
height:58px
}
.i100{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i100.png") no-repeat center;
background-size: contain;
width:249px;
height:58px
}
.i010{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:0px;
top:0px;
width:290px;
height:250px
}
.i110{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i110.png") no-repeat center;
background-size: contain;
width:290px;
height:250px
}
.i011{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:51px;
top:179px;
width:198px;
height:41px
}
.i120{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i120.png") no-repeat center;
background-size: contain;
width:198px;
height:41px
}
.i012{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:10px;
top:185px;
width:281px;
height:33px
}
.i130{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i130.png") no-repeat center;
background-size: contain;
width:281px;
height:33px
}
.i013{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:34px;
top:176px;
width:230px;
height:42px
}
.i140{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i140.png") no-repeat center;
background-size: contain;
width:230px;
height:42px
}
.i014{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:32px;
top:177px;
width:234px;
height:44px
}
.i150{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i150.png") no-repeat center;
background-size: contain;
width:234px;
height:44px
}
.i015{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:5px;
top:226px;
width:282px;
height:20px
}
.i160{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i160.png") no-repeat center;
background-size: contain;
width:282px;
height:20px
}
.i016{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:0px;
top:0px;
width:300px;
height:250px
}
.i170{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i170.png") no-repeat center;
background-size: contain;
width:300px;
height:250px
}