html,body{
background: #444444;
margin: 0;
padding: 0;
width: 300px;
height: 250px;
}
.wrapper{
position:absolute;
background: #000000;
overflow:hidden;
width: 300px;
height: 250px;
}

.i00{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:-2px;
top:-4px;
width:306px;
height:259px
}
.i10{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i10.png") no-repeat center;
background-size: contain;
width:306px;
height:259px
}
.i01{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:28px;
top:-4px;
width:205px;
height:145px
}
.i20{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:118px;
top:13px;
width:205px;
height:145px
}
.i30{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i30.png") no-repeat center;
background-size: contain;
width:205px;
height:145px
}
.i02{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:264px;
top:95px;
width:114px;
height:109px
}
.i40{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:114px;
height:109px
}
.i50{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i50.png") no-repeat center;
background-size: contain;
width:114px;
height:109px
}
.i03{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:104px;
top:91px;
width:91px;
height:87px
}
.i60{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:91px;
height:87px
}
.i70{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i70.png") no-repeat center;
background-size: contain;
width:91px;
height:87px
}
.i04{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:-29px;
top:101px;
width:183px;
height:184px
}
.i80{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:183px;
height:184px
}
.i90{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i90.png") no-repeat center;
background-size: contain;
width:183px;
height:184px
}
.i81{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:47px;
top:48px;
width:89px;
height:89px
}
.i100{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i100.png") no-repeat center;
background-size: contain;
width:89px;
height:89px
}
.i82{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:3px;
top:4px;
width:176px;
height:176px
}
.i110{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i110.png") no-repeat center;
background-size: contain;
width:176px;
height:176px
}
.i83{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:51px;
top:52px;
width:81px;
height:81px
}
.i120{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i120.png") no-repeat center;
background-size: contain;
width:81px;
height:81px
}
.i05{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:147px;
top:-17px;
width:61px;
height:84px
}
.i130{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:61px;
height:84px
}
.i140{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i140.png") no-repeat center;
background-size: contain;
width:61px;
height:84px
}
.i06{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:171px;
top:46px;
width:299px;
height:256px
}
.i150{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:104px;
height:187px
}
.i160{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i160.png") no-repeat center;
background-size: contain;
width:104px;
height:187px
}
.i151{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:-175px;
top:-69px;
width:299px;
height:250px
}
.i170{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i170.png") no-repeat center;
background-size: contain;
width:299px;
height:250px
}
.i07{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-42px;
top:89px;
width:208px;
height:208px
}
.i180{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i180.png") no-repeat center;
background-size: contain;
width:208px;
height:208px
}
.i08{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-64px;
top:67px;
width:251px;
height:251px
}
.i190{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i190.png") no-repeat center;
background-size: contain;
width:251px;
height:251px
}
.i09{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-88px;
top:43px;
width:297px;
height:297px
}
.i200{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i200.png") no-repeat center;
background-size: contain;
width:297px;
height:297px
}
.i010{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:8px;
top:15px;
width:135px;
height:64px
}
.i210{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
width:135px;
height:64px
}
.i220{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i220.png") no-repeat center;
background-size: contain;
width:135px;
height:64px
}
.i011{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-113px;
top:18px;
width:346px;
height:347px
}
.i230{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i230.png") no-repeat center;
background-size: contain;
width:346px;
height:347px
}
.i012{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-122px;
top:9px;
width:364px;
height:365px
}
.i240{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i240.png") no-repeat center;
background-size: contain;
width:364px;
height:365px
}
.i013{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-138px;
top:-7px;
width:393px;
height:397px
}
.i250{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i250.png") no-repeat center;
background-size: contain;
width:393px;
height:397px
}
.i014{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-156px;
top:-25px;
width:432px;
height:432px
}
.i260{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i260.png") no-repeat center;
background-size: contain;
width:432px;
height:432px
}
.i015{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-14px;
top:221px;
width:305px;
height:55px
}
.i270{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i270.png") no-repeat center;
background-size: contain;
width:305px;
height:55px
}
.i016{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:-45px;
top:111px;
width:288px;
height:201px
}
.i280{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i280.png") no-repeat center;
background-size: contain;
width:288px;
height:201px
}
.i017{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 0;
position:absolute;
left:0px;
top:0px;
width:300px;
height:250px
}
.i290{
-o-transform-origin: left top;
transform-origin: left top;
-ms-transform-origin: left top;
-moz-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;

-moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
opacity: 1;
position:absolute;
left:0px;
top:0px;
background: url("i290.jpg") no-repeat center;
background-size: contain;
width:300px;
height:250px
}